<html>
<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>CODER NEWS</title>
</head>
<body>
  <div id="header">
    <div id="header-logo"><h3>T.I.Y.</h3></div>
    <div><h3>CodeR NewZ</h3></div>
    <div id="header-links">
      <div><a href="/new">new</a></div>
      <div><a href="">comments</a></div>
      <div><a href="">show</a></div>
      <div><a href="">ask</a></div>
      <div><a href="/jobs">jobs</a></div>
      <div><a href="" style="border-right-width: 0px">submit</a></div>
      <div id="big-spacer"></div>
      <div id="login"><a href="" style="border-right-width: 0px">login</a></div>
    </div>
  </div>
  <div class="posts">
    <ol> <% Stories.all.order('created_at desc').each do |story| %>
      <li>
        <span id="triangle"></span>
        <a id="post_link"href="<%= story.link %>"><%= story.title %></a>
      </li>
      <div class="sub_link">
        <span class="sub_link">by <a href=""><%= story.email %></a> on <%= story.created_at %></span>
      </div>
      <% end %>
    </ol>
  </div>
  <div id="footer">
    <div></div>
  </div>
</body>
</html>
