<html>
<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>CODER NEWS</title>
</head>
<body style="padding-left: 20px">
  <div id="header">
    <div id="header-logo"><a href="/"><h3>T.I.Y.</h3></a></div>
    <div><h3>CodeR NewZ</h3></div>
    <div id="header-links">
      <div><a href="/new">new</a></div>
      <div><a href="">comments</a></div>
      <div><a href="">show</a></div>
      <div><a href="">ask</a></div>
      <div><a href="/jobs">jobs</a></div>
      <div><a href="" style="border-right-width: 0px">submit</a></div>
      <div id="big-spacer"></div>
      <div id="login"><a href="" style="border-right-width: 0px">login</a></div>
    </div>
  </div>
  <div class="posts">
    <ol start="21"> <% Stories.all.order('created_at desc').limit(10).offset(20).each do |story| %>
      <li>
        <span id="triangle"></span>
        <a id="post_link"href="<%= story.link %>"><%= story.title %></a>
      </li>
      <div class="sub_link">
        <span class="sub_link">by <a href=""><%= story.email %></a> on <%= story.created_at %></span>
      </div>
      <% end %>
    </ol>
    <div id="more"><a style="padding-right: 8px" href="/page2"><- Prev </a><a href="/page4">Next -></a></div>
  </div>
  <div id="footer">
    <div id="splitter"></div>
    <div id="house_ad"><h3>Now accepting student applications for Early 2016</h3></div>
    <a href="">Apply Here</a>
    <div id="footer_links">
      <div id="footer_spacer"></div>
      <a href="">Guidelines</a>
      <a href="">FAQ</a>
      <a href="">Support</a>
      <a href="">API</a>
      <a href="">Security</a>
      <a href="">Lists</a>
      <a href="">Bookmarklet</a>
      <a href="">DMCA</a>
      <a href="">Apply to TIY</a>
      <a style="border-width: 0px" href="">Contact</a>
    </div>
    <form style="margin-top: 21px; font-size: 18px" method="" action="">
      Search:
      <input type="text" value size="20">
    </form>
    <div>
    </div>
  </div>
</body>
</html>
